@import '~js-datepicker/src/datepicker';

$gradient-blue: linear-gradient(167deg, rgba(8,136,200,1) 0%, rgba(255,255,255,0.7) 100%);

$header-gradient: linear-gradient(48deg, rgba(8,18,68,0.6573004201680672) 0%, rgba(255,255,255,0) 100%);

body {
  background: -moz-$gradient-blue;
  background: -webkit-$gradient-blue;
  background: $gradient-blue;
  font-family: 'Cabin';
  background-size: cover;
  height: 100vh;
  margin: 0px;
}

header {
  background: -moz-$header-gradient;
  background: -webkit-$header-gradient;
  background: $header-gradient;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0 ,0.7);
  color: white;
  display: flex;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#081244",endColorstr="#ffffff",GradientType=1);
  justify-content: center;
  
  h1 {
    letter-spacing: 8px;
    font-size: 3em;
  }
  h3 {
    padding-top: 70px;
  }
  .logo {
    margin-right: 20px;
    width: 8%
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  label, h3 {
    margin: 15px auto;
  }
  input {
    font-size: 1.5em;
    padding: 5px;
  }
  .submit-btn {
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
    width: 11em;
  }
}

.traveler-screen, .agent-screen {
  display: none;
}

.client-dashboard, .agent-dashboard {
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
  height: 57vh;
  margin: 100px auto 50px auto;
  overflow: scroll;
  padding: 20px;
  width: calc(100vw - 50%)
}

.welcome {
  font-size: 1.5em;
}

.trip-selector {
  display: flex;
  justify-content: space-evenly;
  
}

button {
  background: rgba(8,136,200,1);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  height: 3em;

}

button:hover {
    background: rgb(230, 246, 255);
    color: black;
}

.book-trip {
  padding-top: 25px;
}

.error {
  background: black;
  color: red;
  margin: auto;
  visibility: hidden;
}



@media only screen and (max-width: 700px) {
  .client-dashboard, .agent-dashboard {
    width: 80vw;
  }
  .trip-selector {
    display: block;
  }
  header {
    display: block;
    padding: 20px;
    h1 {
      display: inline;
    }
    h3 {
      padding: 0 0 0 70px;
    }
    .logo {
      width: 25%;
    }
  }
}